
# Object files
*.o

# Binaries
bin/
dist/
monotest
*.exe
*.dll

# Backups
*.tar.gz
*.backup
*.shader_version

# Clangd
compile_commands.json
.cache/

# Doxygen
docs/html/
docs/latex/

# Misc
.vscode/

# Non-distributable assets (due to copyright)
assets/bkg/testbackground.pbm
assets/snd/boing.wav